@import url(./assets/css/fonts.css);

body {
  font-family: 'Quicksand';
  background-color: #fafaf0;
}

.app {
  max-width: 500px;
}

.vh-60 {
  height: 60vh;
}

.btn-custom,
.btn-custom-no-width,
.text-brand,
.text-primary {
  color: #690000 !important;
}

.btn-custom-menu,
.img-window,
.text-secondary {
  color: #494969 !important;
}

.btn-custom,
.btn-custom-menu,
.btn-custom-no-width,
.bg-primary {
  background-color: #eeeeee !important;
}

.btn-custom,
.btn-custom-menu,
.btn-custom-no-width {
  border: 2px solid;
  border-radius: 15px;
}

.btn-custom,
.btn-custom-no-width {
  min-height: 55px;
}

.btn-custom {
  min-width: 175px;
}

.btn-custom-menu {
  height: 55px;
  width: 55px;
}

.text-brand {
  font-family: 'Poiret One';
  text-decoration: underline;
}

.border-primary {
  border-width: 2px !important;
  border-color: #690000 !important;
}

.border-secondary {
  border-width: 2px !important;
  border-color: #494969 !important;
}

.bg-secondary {
  background-color: #b6b6b6 !important;
}

.img-window {
  height: 125px;
  width: 125px;
  object-fit: cover;
}

.rounded-15 {
  border-radius: 15px;
}
